.compactMode .scRibbonNavigatorButtonsGroupHeader {
  display: none;
}

.compactMode .scRibbonNavigatorButtons .scRibbonNavigatorButtonsContextualGroupHeader {
  display: none;
}

.compactMode #SystemMenu {
  top: 0;
}

.compactMode #ContentEditorForm .scRibbonToolbar {
  display: none;
}

.compactMode .scRibbonToolbar .caption {
  display: none;
}

.compactMode #ContentEditorForm .scRibbonToolbar .chunk,
.compactMode #ContentEditorForm .scRibbonToolbar .contextualChunk {
  height: 60px;
}

.compactMode #ContentEditorForm .scRibbonToolbar .panel {
  padding-top: 5px !important;
}

.compactMode #ContentEditorForm .scRibbonToolbar .scRibbonToolbarStrip,
.compactMode #ContentEditorForm .scRibbonToolbar .scRibbonToolbarContextualStrip {
  min-height: 60px !important;
}

.compactMode #ContentEditor #EditorTabs .scRibbonEditorTabActive,
.compactMode #ContentEditor #EditorTabs .scRibbonEditorTabNormal {
  margin-top: 0px !important;
}

.compactMode #ContentEditor #EditorTabs .scEditorTabControlsHolder {
  margin-top: 5px !important;
}

.compactMode #ContentEditor #EditorTabs {
  height: 40px !important;
}

.compactMode #ContentEditor #EditorFrames {
  margin-top: 40px !important;
}

.compactMode #ContentEditor #EditorFrames .scEditorHeader {
  display: none;
}

.compactMode #SearchPanel {
  display: none;
}

.compactMode .scDockBottom {
  display: none;
}

.compactMode .scEditorSectionPanelCell {
  padding: 0px;
}

.compactMode .scEditorSectionPanelCell .scEditorQuickInfo tr {
  line-height: 23px;
}

.compactMode .scEditorSections .scEditorSectionPanelCell {
  padding-top: 20px;
  padding-bottom: 20px;
}
